{% extends "index.twig" %}

{% block page %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>BDCOM [{{ bdcom.bdcom_id }}] EPON [{{ bdcom.epon_id }}]</b>
                <div class="nav epon_menu">
                        <a href="{{ path_for("epon.add",{"id":bdcom.bdcom_id, "epon":bdcom.epon_id}) }}" class="btn btn-default navbar-btn" role="button" id="add">ADD ONU</a>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered dataTable display" id="bdcom">
                    <thead>
                    <tr class="info">
                        <th id="epon">EPON</th>
                        <th id="mac">MAC</th>
                        <th id="status">STATUS</th>
                        <th id="act">ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}