<div class="row row_menu">
    <div class="col-md-12">
        <ul class="nav nav-pills pon_menu">
            <li role="presentation"><a href="{{ path_for("bdcom",{"id": 1}) }}">BDCOM-1</a></li>
            <li role="presentation"><a href="{{ path_for("bdcom",{"id": 2}) }}">BDCOM-2</a></li>
            <li role="presentation"><a href="{{ path_for("raisecom", {"id":3}) }}">RAISECOM</a></li>
        </ul>
    </div>
</div>
